<div th:fragment="history" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>
    <div class="container border border-primary">
        <h3>Lankytu svetainiu sarasas</h3>
        <form class="form-signin" action="#" th:action="@{/timeCounting}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Web list</button>
        </form>

        <!--ul th:each="count: ${counts}" th:object="${/list}" method="get">
            <li th:text="${count}"></li>
        </ul-->

    </div>
</div>